<launch>

  <node pkg="tf_transform_republisher" type="tf_transform_republisher_node" name="tf_transform_republisher_node" output="screen">
    <param name="publish_frequency"                   value="10" />
    <param name="static_tf_transform"                 value="false" />
    <param name="input_tf_transform_parent_frame_id"  value="/map" />
    <param name="input_tf_transform_child_frame_id"   value="/base_link" />
    <param name="output_tf_transform_parent_frame_id" value="/map" />
    <param name="output_tf_transform_child_frame_id"  value="/base_link_amcl" />
  </node>

</launch>